#**Atajos de Markdown en Google Colab** **(Bonus)**
Atajos más comunes de Markdown para utilizar en **Google Colab**:

#**Títulos**
Para crear un título, debes colocar el número de signos # correspondiente al nivel del título, seguido de un espacio y el texto del título.
**Por ejemplo:**

# Título nivel 1
## Título nivel 2
### Título nivel 3

#**Negrita** y *cursiva*
Para resaltar texto, puedes usar los asteriscos o guiones bajos. Si colocas uno a cada lado del texto, este se mostrará en cursiva. Si colocas dos, se mostrará en negrita.
**Por ejemplo:**

*Texto en cursiva*
**Texto en negrita**

#**Listas**
Para crear listas con viñetas, puedes usar un asterisco, un guion o un signo más seguido de un espacio. Para crear listas numeradas, simplemente coloca el número seguido de un punto y un espacio.
 **Por ejemplo:**

- Elemento 1
- Elemento 2
- Elemento 3

1. Elemento 1
2. Elemento 2
3. Elemento 3

#**Enlaces e imágenes**
Para insertar un enlace, debes encerrar el texto del enlace entre corchetes y la URL entre paréntesis. Para insertar una imagen, debes usar una sintaxis similar, pero precediendo la URL con un signo de exclamación. **Por ejemplo:**

[Enlace a Google](https://www.google.com)
![Imagen de un gato](https://upload.wikimedia.org/wikipedia/commons/3/3a/Cat03.jpg)

#**Código**
Para mostrar código, puedes encerrarlo entre comillas invertidas ` o crear bloques de código usando tres comillas invertidas al principio y al final. **Por ejemplo:**

`print("Hola mundo")`

#**Citas**
Para citar texto, debes colocar el texto entre el signo de mayor que > y un espacio. Puedes anidar citas utilizando varios signos de mayor que. **Por ejemplo:**
> Esto es una cita
>> Esta es una cita anidada

In [ ]:
print("Hola mundo")

Hola mundo

In [ ]:
nombre = "juan"
apellido = "campias"
print(nombre, apellido)

juan campias

In [ ]:
print("hola mundo", 4.5, False, end="\n")
print("Hola")

hola mundo 4.5 False
Hola

In [ ]:
nombre = "juan"
apellido = "campias"
print(nombre, apellido)

juan campias

In [ ]:
input("Nombre: ")

Nombre: asd

'asd'

In [ ]:
nombre = input("Nombre: ")
apellido = input("Apellido: ")
apellido_minus = apellido.lower()

Nombre: juan
Apellido: campias

In [ ]:
print(apellido_minus)

CAMPIAS

In [ ]:
apellido.upper().count("s")

0

In [ ]:
x = "hola"
y = " mundo"

print(x+y)

hola mundo

#**Actividades a resolver en clase:**
##Act1: Calcular el área de un triángulo dado su base y altura. Pedir al usuario los valores de la base y la altura utilizando la función input(). Luego, calcular el área del triángulo e imprimir el resultado.

In [ ]:
#Resolver ACT1 en esta celda.
def area_triangulo(base, altura):
    return (base * altura) / 2

base = float(input("Ingresa la base del triángulo: "))
altura = float(input("Ingresa la altura del triángulo: "))

area = area_triangulo(base, altura)
print(f"El área del triángulo es: {area}")

Ingresa la base del triángulo: 3
Ingresa la altura del triángulo: 2
El área del triángulo es: 3.0

##Act2: Convertir una temperatura en grados Celsius a Fahrenheit. Pedir al usuario el valor de la temperatura en Celsius utilizando la función input(). Luego, convertir la temperatura a Fahrenheit utilizando la fórmula F = (C * 9/5) + 32 e imprimir el resultado.

In [ ]:
#Resolver ACT2 en esta celda.
def celsius_a_fahrenheit(celsius):
    return (celsius * 9/5) + 32

celsius = float(input("Ingresa la temperatura en grados Celsius: "))

fahrenheit = celsius_a_fahrenheit(celsius)
print(f"{celsius} grados Celsius equivalen a {fahrenheit} grados Fahrenheit")

##Act3: Escribir un programa que pida al usuario dos números y muestre por pantalla su división si el segundo número es distinto de cero, o un mensaje de error en caso contrario.

In [ ]:
num1 = float(input("Ingresa el primer número: "))
num2 = float(input("Ingresa el segundo número: "))

#Resolver ACT3 en esta celda.
def division(a, b):
    if b != 0:
        return a / b
    else:
        return "Error: No se puede dividir por cero"

resultado = division(num1, num2)
print(resultado)

##Act4: Realizar un programa que lea tres números distintos y nos los muestre ordenados de menor a mayor.

In [ ]:
#Resolver ACT4 en esta celda.
def ordenar_numeros(num1, num2, num3):
    numeros = []
    numeros.sort()
    return numeros

num1 = float(input("Ingresa el primer número: "))
num2 = float(input("Ingresa el segundo número: "))
num3 = float(input("Ingresa el tercer número: "))

numeros_ordenados = ordenar_numeros(num1, num2, num3)
print(f"Los números ordenados de menor a mayor son: {numeros_ordenados}")

##Act5: Escribir un programa que lea una cadena de texto y muestre por pantalla cuántas veces aparece cada letra del alfabeto en la cadena. El programa debe ignorar los espacios y los caracteres no alfabéticos.

In [ ]:
#Resolver ACT5 en esta celda.

cadena_inicial = input("Ingrese una cadena de texto: ")
frecuencias = {}
cadena = cadena_inicial.lower()

for caracter in cadena:
    if 'a' <= caracter <= 'z':
        if caracter in frecuencias:
            frecuencias[caracter] += 1
        else:
            frecuencias[caracter] = 1
lista_letras = 'abcdefghijklmñopqrstuvwxyz'
for letra in lista_letras:
    if letra in frecuencias:
        print(f"La letra '{letra}' aparece {frecuencias[letra]} veces en la cadena.")
    else:
        print(f"La letra '{letra}' no aparece en la cadena.")

Ingrese una cadena de texto: asdikhjiabsdkjyavkusdyg
La letra 'a' aparece 3 veces en la cadena.
La letra 'b' aparece 1 veces en la cadena.
La letra 'c' no aparece en la cadena.
La letra 'd' aparece 3 veces en la cadena.
La letra 'e' no aparece en la cadena.
La letra 'f' no aparece en la cadena.
La letra 'g' aparece 1 veces en la cadena.
La letra 'h' aparece 1 veces en la cadena.
La letra 'i' aparece 2 veces en la cadena.
La letra 'j' aparece 2 veces en la cadena.
La letra 'k' aparece 3 veces en la cadena.
La letra 'l' no aparece en la cadena.
La letra 'm' no aparece en la cadena.
La letra 'ñ' no aparece en la cadena.
La letra 'o' no aparece en la cadena.
La letra 'p' no aparece en la cadena.
La letra 'q' no aparece en la cadena.
La letra 'r' no aparece en la cadena.
La letra 's' aparece 3 veces en la cadena.
La letra 't' no aparece en la cadena.
La letra 'u' aparece 1 veces en la cadena.
La letra 'v' aparece 1 veces en la cadena.
La letra 'w' no aparece en la cadena.
La letra 'x' no aparece en la cadena.
La letra 'y' aparece 2 veces en la cadena.
La letra 'z' no aparece en la cadena.

##Act6: Escribir un programa que pida al usuario un número y muestre por pantalla su valor absoluto.

In [ ]:
#Resolver ACT6 en esta celda.

##Act7: Escribir un programa que pida al usuario una lista de números separados por comas y muestre por pantalla el producto de dichos números.

In [ ]:
#Resolver ACT7 en esta celda.

##Act8: Escribir un programa que pida al usuario una lista de palabras y las muestre por pantalla ordenadas alfabéticamente.

In [ ]:
#Resolver ACT8 en esta celda.